*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.item_empty{
    visibility: hidden;
    width: 300px;
}
.buy_now{
    background-color: black;
    color: white;
    padding: 7px 15px;
    /* border: none; */
    border: black;
    border-radius: 50px;
    font-size: 0.9rem;
    text-transform: uppercase;
}
/* body */
body{
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
}

/* header */
header > h1{
    font-size: 5rem;
    text-align: center;
    background-color: black;
    color: white;
    padding: 4rem 0;
    text-transform: uppercase;
}
/* header > cart */
header > .cart_container{
    position: fixed;
    z-index: 1;
    top: 20px;
    right: 20px;
}
header > .cart_container .cart{
    background-color: rgba(201, 201, 201, 0.486);
    height: 100px;
    width: 200px;
    padding: 10px;
    font-size: 1.3em;
    border-radius: 10px;

}
header > .cart_container .cart > div{ 
    border-bottom: 2px solid black;
}

/* main */
main{
    /* height: 100vh; */

}
.container{
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
main .item_box{
    border: 1px solid black;
    /* width: calc((100% / 4) - 20px); */
    width: 300px;
    padding: 5px;
    position: relative;
}
main .item_box > img{
    width: 100%;
}
main .item_box > .price_wrapper{
  background-color: red;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.3rem;
  padding: 5px;
  border-radius: 5px;
} 

main .item_box .item_text{
    margin-bottom: 8px;
}
/* footer */

footer{
    padding: 1.5rem 0;
}